# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle
/.idea
/.idea/deploymentTargetDropDown.xml
/local.properties
/.idea/caches
/.idea/inspectionProfiles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
/feature/build/intermediates/ktLint/reporterProviders.bin
/feature/build/intermediates/ktLint/reporters.bin
/.idea/
__pycache__/
*.py[cod]
*$py.class
gradle.deps
**/build